/* Variables CSS en :root */
:root {
    --primary-color: #007BFF;
    --secondary-color: #0056b3;
    --background-color: #f4f4f9;
    --form-background-color: white;
    --border-color: #ccc;
    --font-family: "Inter", serif;
    --font-size: 16px;
    --input-padding: 10px;
    --button-padding: 10px;
    --border-radius: 16px;
    --form-width: 400px;
}

.ocultalabel{
    color: var(--form-background-color);
    padding: 0;
    margin: 0;
    height: 0;
}

/* Aplicación de las variables */
body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

form {
    max-width: var(--form-width);
    margin: 50px auto;
    padding: 20px;
    background-color: var(--form-background-color);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form h1{
    text-align: center;
    color: black;
    margin-bottom: 24px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 94%;
    padding: var(--input-padding);
    margin-bottom: 20px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    font-size: var(--font-size);
}

input[type="checkbox"] {
    margin-top: 1px;
}
.check{
    color: grey;
    font-size: 12px;
    display: inline-flex;
}

button {
    font-family: var(--font-family);
    width: 100%;
    padding: var(--button-padding);
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    font-size: var(--font-size);
    cursor: pointer;
}

button:hover {
    background-color: var(--secondary-color);
}

