/* Variables CSS en :root */
:root {
    --primary-color: #FF5733;
    --secondary-color: #C70039;
    --background-color: #282828;
    --form-background-color: #2E2E2E;
    --border-color: #888;
    --font-family: "Open Sans", serif;
    --font-size: 18px;
    --input-padding: 12px;
    --button-padding: 12px;
    --border-radius: 16px;
    --form-width: 420px;
}

/* Aplicación de las variables */
body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

form {
    max-width: var(--form-width);
    margin: 50px auto;
    padding: 20px;
    background-color: var(--form-background-color);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #fff;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 94%;
    padding: var(--input-padding);
    margin-bottom: 10px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    font-size: var(--font-size);
    color: #fff;
    background-color: #444;
}

input[type="checkbox"] {
    margin-top: 1px;
}

button {
    font-family: var(--font-family);
    width: 100%;
    padding: var(--button-padding);
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    font-size: var(--font-size);
    cursor: pointer;
}

button:hover {
    background-color: var(--secondary-color);
}
